.about-me__container {
    display: grid;

    width: 75vw;
    height: 60vh;

    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    column-gap: 20px;

}

.about-me__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 2em;
    margin-right: 20px;
    border : 2px solid black;
    border-radius: 5px;
}

.about-me__item  {
    padding-left: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.about-me__title {
    margin-bottom: 5px;
    font-size: var(--h2-font_size); 
    font-weight: var(--h2-font_weight);

}

.about-me__content a {
    text-decoration: none;  /* 기본 밑줄 제거 */
    color: #007bff;  /* 링크 색상 - 파란색 */
    border-bottom: 1px solid transparent;  /* 투명한 밑줄 추가 */
    transition: border-bottom-color 0.2s ease-in-out;  /* 부드러운 효과 추가 */
}

.about-me__content a:hover {
    border-bottom-color: #007bff;  /* 호버시 밑줄 표시 */
}