.skill-container {
    width: 75vw;
    height: 60vh;
    margin-top: 35px;
}
.skill__item {
    display: flex;

    align-items: center;
    margin-bottom: 45px;

    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.stack {
    margin-right: 15px;
    padding:0.5em;
    width: 150%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: .5em;

    font-weight: var(--h2-font_weight);
    font-size: 18px;
    color:white;
}



.skill__content-container {
    display: flex;
    width: 300px;
}



.skill__category-name {
    width: 150px;
    font-size: var(--title-font_size);
    font-weight: var(--title-font_weight);
    margin-right: 100px;
}






