@import "./variables.css";

.skill-container {
    width: 75vw;
    height: 60vh;
    margin-top: 20px;
}
.skill__item {
    display: flex;
    background-color: wheat;
}

.skill__category-name {
    font-size: var(--title-font_size);
    font-weight: var(--title-font_weight);
}

.skill__content-container {
    display: flex;
}

.skill__content-item {
    margin-right: 5px;
}