@import "./reset.css";
@import "./variables.css";

/*font-family*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*componets*/
@import "./components/nav-bar.css";
@import "./components/ai-chat-btn.css";

/*Sections*/
@import "./profile.css";
@import "./about-me.css";
@import "./skill.css";
@import "./project.css";
@import "./experience.css";






header {
    width: 100vw;
    height: 60px;
    margin-bottom: 80px;
}

#profile {
    margin: auto;
    margin-bottom: 25vh;
}

.section {
    scroll-margin-top: 100px;
    margin : auto;

    width: 80vw;
    height: 65vh;
    margin-bottom: 25vh;
}


.section-title {
    font-size: 65px;
    font-weight: var(--title-font_weight);
    text-underline-offset : 10px;

    text-decoration: underline;
    text-decoration-thickness: 4px;
}







/* Languages */
.python {
    background-color: var(--python-color);
}

.javascript {
    background-color: var(--javascript-color);
    color: black; /* JavaScript 노란색 배경에는 검은색 글씨 */
}

.java {
    background-color: var(--java-color);
}

.cpp {
    background-color: var(--cpp-color);
}

/* Frameworks */
.react {
    background-color: var(--react-color);
    color: black;
}

.fastapi {
    background-color: var(--fastapi-color);
}

.spring {
    background-color: var(--spring-color);
}

.langchain {
    background-color: var(--langchain-color);
}

/* Tools */
.git {
    background-color: var(--git-color);
}

.docker {
    background-color: var(--docker-color);
}

.aws {
    background-color: var(--aws-color);
    color: black;
}

.vscode {
    background-color: var(--vscode-color);
}

/* Etc */
.mysql {
    background-color: var(--mysql-color);
}

.mongodb {
    background-color: var(--mongodb-color);
}

.linux {
    background-color: var(--linux-color);
    color: black;
}
