:root {
    --highlight-color : #75df13;

    /*font-size*/
    --title-font_size : 32px;
    --h2-font_size:24px;
    --additional-font_size:14px;

    /*font-weight, opacity*/
    --title-font_weight:800;
    --h2-font_weight: 600;
}