.profile-section {
    display: flex;
    scroll-margin-top: 145px;
}

.profile__label {
    margin-left: 10vw;
    width: 50%;

    display: flex;
    flex-direction: column;

}



.profile__img {
    width: 350px;
    height: 350px;
    border-radius: 50%;

    margin-left: 0px;

    margin-bottom: 40px;
}

.profile__title {
    display: flex;
    font-size: 45px;
    font-weight: bold;
}

