/* Languages */
.python {
    background-color: var(--python-color);
}

.javascript {
    background-color: var(--javascript-color);
    color: black; /* JavaScript 노란색 배경에는 검은색 글씨 */
}

.java {
    background-color: var(--java-color);
}

.cpp {
    background-color: var(--cpp-color);
}

/* Frameworks */
.react {
    background-color: var(--react-color);
    color: black;
}

.fastapi {
    background-color: var(--fastapi-color);
}

.spring {
    background-color: var(--spring-color);
}

.langchain {
    background-color: var(--langchain-color);
}

/* Tools */
.git {
    background-color: var(--git-color);
}

.docker {
    background-color: var(--docker-color);
}

.aws {
    background-color: var(--aws-color);
    color: black;
}

.vscode {
    background-color: var(--vscode-color);
}

/* Etc */
.mysql {
    background-color: var(--mysql-color);
}

.mongodb {
    background-color: var(--mongodb-color);
}

.linux {
    background-color: var(--linux-color);
    color: black;
}
