<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dellyu03's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header>
        <ul class = "nav-bar">
            <li class = "nav-bar__item nav-bar__logo"><a href = "#title__profile-section">Dellyu03's Portfolio</a></li>
            <li class = "nav-bar__item"><a href = "#">About me</a></li>
            <li class = "nav-bar__item"><a href = "#title__skills-section">Skills</a></li>
            <li class = "nav-bar__item"><a href = "#">Projects</a></li>
            <li class = "nav-bar__item"><a href = "#">Experiences</a></li>
            <li class = "nav-bar__item"><a href = "#">Career</a></li>
            <li id = "nav-bar__ai-chat-btn" class = "nav-bar__item"><a href = "#">AI Chat</a></li>
        </ul>
    </header>
    <content>
        <div id="profile">
            <div class="grid-item test profile__name">Yoo <br>Seung Hwan</div>
            <div class="grid-item test profile__content-container">
                <p class = "profile__content">저는 AI 기술을 활용해 혁신적인 제품을 개발하는 데 열정을 가진 개발자입니다. 특히 AI가 탑재된 어플리케이션과 웹 개발에 관심이 많으며, 기업의 비즈니스에 정확한 통계 분석과 AI 기반 판단을 적용해 생산성을 극대화하는 솔루션을 제공하고자 합니다. 업무 자동화와 효율성을 높이는 데 흥미를 느끼며, 이를 실현하기 위해 다양한 프로젝트와 기술을 탐구하고 있습니다. 제 목표는 사용자와 기업 모두에게 가치 있는 기술을 설계하고 구현하며, 더 나은 미래를 만들어 나가는 데 기여하는 것입니다.</p>
                <ul class = "profile__tag">
                    <li class = "profile__tag-item">#AI Developer</li>
                    <li class = "profile__tag-item">#ML-ops</li>
                </ul>
            </div>
            <div class="grid-item test profile__img-container">
                <img class="profile__img" src="static/img/profile-img.jpeg" alt="이미지 없음">
            </div>
        </div>`
    </content>
    <footer>

    </footer>
    
</body>
</html>