<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dellyu03's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <ul class = "nav-bar">
        <li class = "nav-bar__item">About me</li>
        <li class = "nav-bar__item">Skills</li>
        <li class = "nav-bar__item">Projects</li>
        <li class = "nav-bar__item">Experiences</li>
        <li class = "nav-bar__item">Career</li>
        <li class = "nav-bar__item">Chat with AI Me</li>
    </ul>
    <h1>AI로 세상을 바꾸는 개발자 유승환입니다.</h1>
</body>
</html>