<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dellyu03's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <header>
        <ul class="nav-bar">
            <li class="nav-bar__logo"><a href="#">Dellyu03's Portfolio</a></li>
            <li class="nav-bar__item"><a href="#about-me">About Me</a></li>
            <li class="nav-bar__item"><a href="#career">Career</a></li>
            <li class="nav-bar__item"><a href="#skill">Skill</a></li>
            <li class="nav-bar__item"><a href="#project">Project</a></li>
            <li class="nav-bar__item"><a href="#experience">Experience</a></li>
            <li class="nav-bar__item"><a href="#contact">contact</a></li>
        </ul>
    </header>
    <content>
        <div id="profile">
            <div class="profile__name">Developer <br> Solving productivity and creativity with AI. </div>
            <div class="profile__content-container">
                <p class="profile__content">Hello I'm Seunghwan Yoo <br>I am a developer passionate about creating innovative products using AI technology.<br>
                    I am particularly interested in AI-powered applications and web development.<br>
                    My focus lies in integrating precise statistical analysis and AI-driven decision-making into business operations to maximize productivity.<br>
                    I am also enthusiastic about task automation and improving efficiency through advanced solutions.<br>
                    My goal is to design and implement technologies that provide value to both users and businesses, contributing to a better future.<br></p>
                <ul class="profile__tag">
                    <li class="profile__tag-item">#AI Developer</li>
                    <li class="profile__tag-item">#ML-ops</li>
                </ul>
            </div>
            <div class="profile__img-container">
                <img class="profile__img" src="static/img/profile-img.jpeg" alt="이미지 없음">
            </div>
        </div>
        <div id="about-me" class="section">
            <h1 class="section-title">About Me</h1>
            <div class="about-me__container">
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-solid fa-graduation-cap"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">Education</p>
                        <p class="about-me__content">Bachelor's Degree in Software Convergence at Hongik University Sejong Campus</p>
                    </div>
                </div>
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-brands fa-github"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">Github</p>
                        <p class="about-me__content"><a href="https://github.com/dellyu03">https://github.com/dellyu03</a></p>
                    </div>
                </div>
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">E-mail</p>
                        <p class="about-me__content"><a href="mailto:seunghwan081@gmail.com">seunghwan081@gmail.com</a></p>
                    </div>
                </div>
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-solid fa-book"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">Dev-Blog</p>
                        <p class="about-me__content"><a href="https://velog.io/@youjacha082/posts">https://velog.io/@youjacha082/posts</a></p>
                    </div>
                </div>
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-brands fa-linkedin"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">LinkedIn</p>
                        <p class="about-me__content"><a href="https://www.linkedin.com/in/%EC%8A%B9%ED%99%98-%EC%9C%A0-9a166b325/">Seunghwan Yoo</a></p>
                    </div>
                </div>
                <div class="about-me__item">
                    <div class="about-me__icon"><i class="fa-solid fa-calendar"></i></div>
                    <div class="about-me__content-container">
                        <p class="about-me__title">Date of Birth</p>
                        <p class="about-me__content">2003.08.17</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="career" class="section">
            <h1 class="section-title">Career</h1>
            <div>No Career ㅠ.ㅠ</div>
        </div>
        <div id="skill" class="section">
            <h1 class="section-title">Skill</h1>
            <div class="skill-container">
                <div class="skill__item">
                    <div class="skill__category-name">Language</div>
                    <ul class="skill__content-container">
                        <li class="skill__content-item python stack"><i class="fa-brands fa-python"></i>&nbsp;&nbsp;Python</li>
                        <li class="skill__content-item javascript stack"><i class="fa-brands fa-js"></i>&nbsp;&nbsp;JavaScript</li>
                        <li class="skill__content-item java stack"><i class="fa-brands fa-java"></i>&nbsp;&nbsp;Java</li>
                        <li class="skill__content-item cpp stack"><i class="fa-solid fa-code"></i>&nbsp;&nbsp;C++</li>
                    </ul>
                </div>
                <div class="skill__item">
                    <div class="skill__category-name">Framework</div>
                    <ul class="skill__content-container">
                        <li class="skill__content-item react stack"><i class="fa-brands fa-react"></i>&nbsp;&nbsp;React</li>
                        <li class="skill__content-item fastapi stack"><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;FastAPI</li>
                        <li class="skill__content-item spring stack"><i class="fa-solid fa-leaf"></i>&nbsp;&nbsp;Spring</li>
                        <li class="skill__content-item langchain stack"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Langchain</li>
                    </ul>
                </div>
                <div class="skill__item">
                    <div class="skill__category-name">Tools</div>
                    <ul class="skill__content-container">
                        <li class="skill__content-item git stack"><i class="fa-brands fa-git-alt"></i>&nbsp;&nbsp;Git</li>
                        <li class="skill__content-item docker stack"><i class="fa-brands fa-docker"></i>&nbsp;&nbsp;Docker</li>
                        <li class="skill__content-item aws stack"><i class="fa-brands fa-aws"></i>&nbsp;&nbsp;AWS</li>
                        <li class="skill__content-item vscode stack"><i class="fa-solid fa-code"></i>&nbsp;&nbsp;VSCode</li>
                    </ul>
                </div>
                <div class="skill__item">
                    <div class="skill__category-name">Etc</div>
                    <ul class="skill__content-container">
                        <li class="skill__content-item mysql stack"><i class="fa-solid fa-database"></i>&nbsp;&nbsp;MySQL</li>
                        <li class="skill__content-item mongodb stack"><i class="fa-solid fa-leaf"></i>&nbsp;&nbsp;MongoDB</li>
                        <li class="skill__content-item linux stack"><i class="fa-brands fa-linux"></i>&nbsp;&nbsp;Linux</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Todo 웹 슬라이더 구현-->
        <div id="project" class="section">
            <h1 class="section-title">Project</h1>
                <div class="project-container">
                    <div class="project__item">
                        <div class="project__title"><a href="http://127.0.0.1:8000"><i class="fa-solid fa-link"></i>&nbsp;AI 챗봇 포트폴리오</a></div>
                        <div class="project__meta-data">2024.01.01 ~ 2024.02.14 / 개인 프로젝트</div>
                        <ul class="project__content-container">
                            <li class="project__content-item">포트폴리오에 재미있는 기능을 추가하고 싶어 시작하게 되었습니다.</li>
                            <li class="project__content-item">제작 당시에 AI에 관심을 가지게 되어 AI를 추가한 포트폴리오를 만들게 되었습니다.</li>
                            <li class="project__content-item">랭체인과 fastapi를 포트폴리오 사이트를 구현하였습니다.</li>
                            <li class="project__content-item">AI에 대한 다양한 지식을 쌓을 수 있는 좋은 경험이였습니다.</li>
                        </ul>
                        <ul class="project__stack">
                            <li class="project__stack-item python stack"><i class="fa-brands fa-python"></i>&nbsp;&nbsp;Python</li>
                            <li class="project__stack-item fastapi stack"><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;FastAPI</li>
                            <li class="project__stack-item langchain stack"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Langchain</li>
                        </ul>
                        <!-- Todo 링크 연결할것! -->
                        <ul class="project__attachment">
                            <li class="project__attachment-item"><a href="https://github.com/dellyu03/My-AI-portfolio"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;Github</a></li>
                            <li class="project__attachment-item"><a href="https://dellyu03.github.io/My-AI-portfolio/"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;README</a></li>
                            <li class="project__attachment-item"><a href=""><i class="fa-solid fa-pen"></i>&nbsp;&nbsp;Velog</a></li>
                        </ul>
                    </div>
                    <div class="project__item">
                        <div class="project__title"><a href="http://127.0.0.1:8000"><i class="fa-solid fa-link"></i>&nbsp;AI 챗봇 포트폴리오</a></div>
                        <div class="project__meta-data">2024.01.01 ~ 2024.02.14 / 개인 프로젝트</div>
                        <ul class="project__content-container">
                            <li class="project__content-item">포트폴리오에 재미있는 기능을 추가하고 싶어 시작하게 되었습니다.</li>
                            <li class="project__content-item">제작 당시에 AI에 관심을 가지게 되어 AI를 추가한 포트폴리오를 만들게 되었습니다.</li>
                            <li class="project__content-item">랭체인과 fastapi를 포트폴리오 사이트를 구현하였습니다.</li>
                            <li class="project__content-item">AI에 대한 다양한 지식을 쌓을 수 있는 좋은 경험이였습니다.</li>
                        </ul>
                        <ul class="project__stack">
                            <li class="project__stack-item python stack"><i class="fa-brands fa-python"></i>&nbsp;&nbsp;Python</li>
                            <li class="project__stack-item fastapi stack"><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;FastAPI</li>
                            <li class="project__stack-item langchain stack"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Langchain</li>
                        </ul>
                        <!-- Todo 링크 연결할것! -->
                        <ul class="project__attachment">
                            <li class="project__attachment-item"><a href="https://github.com/dellyu03/My-AI-portfolio"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;Github</a></li>
                            <li class="project__attachment-item"><a href="https://dellyu03.github.io/My-AI-portfolio/"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;README</a></li>
                            <li class="project__attachment-item"><a href=""><i class="fa-solid fa-pen"></i>&nbsp;&nbsp;Velog</a></li>
                        </ul>
                    </div>
                    <div class="project__item">
                        <div class="project__title"><a href="http://127.0.0.1:8000"><i class="fa-solid fa-link"></i>&nbsp;AI 챗봇 포트폴리오</a></div>
                        <div class="project__meta-data">2024.01.01 ~ 2024.02.14 / 개인 프로젝트</div>
                        <ul class="project__content-container">
                            <li class="project__content-item">포트폴리오에 재미있는 기능을 추가하고 싶어 시작하게 되었습니다.</li>
                            <li class="project__content-item">제작 당시에 AI에 관심을 가지게 되어 AI를 추가한 포트폴리오를 만들게 되었습니다.</li>
                            <li class="project__content-item">랭체인과 fastapi를 포트폴리오 사이트를 구현하였습니다.</li>
                            <li class="project__content-item">AI에 대한 다양한 지식을 쌓을 수 있는 좋은 경험이였습니다.</li>
                        </ul>
                        <ul class="project__stack">
                            <li class="project__stack-item python stack"><i class="fa-brands fa-python"></i>&nbsp;&nbsp;Python</li>
                            <li class="project__stack-item fastapi stack"><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;FastAPI</li>
                            <li class="project__stack-item langchain stack"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Langchain</li>
                        </ul>
                        <!-- Todo 링크 연결할것! -->
                        <ul class="project__attachment">
                            <li class="project__attachment-item"><a href="https://github.com/dellyu03/My-AI-portfolio"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;Github</a></li>
                            <li class="project__attachment-item"><a href="https://dellyu03.github.io/My-AI-portfolio/"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;README</a></li>
                            <li class="project__attachment-item"><a href=""><i class="fa-solid fa-pen"></i>&nbsp;&nbsp;Velog</a></li>
                        </ul>
                    </div>
                    <div class="project__item">
                        <div class="project__title"><a href="http://127.0.0.1:8000"><i class="fa-solid fa-link"></i>&nbsp;AI 챗봇 포트폴리오</a></div>
                        <div class="project__meta-data">2024.01.01 ~ 2024.02.14 / 개인 프로젝트</div>
                        <ul class="project__content-container">
                            <li class="project__content-item">포트폴리오에 재미있는 기능을 추가하고 싶어 시작하게 되었습니다.</li>
                            <li class="project__content-item">제작 당시에 AI에 관심을 가지게 되어 AI를 추가한 포트폴리오를 만들게 되었습니다.</li>
                            <li class="project__content-item">랭체인과 fastapi를 포트폴리오 사이트를 구현하였습니다.</li>
                            <li class="project__content-item">AI에 대한 다양한 지식을 쌓을 수 있는 좋은 경험이였습니다.</li>
                        </ul>
                        <ul class="project__stack">
                            <li class="project__stack-item python project_stack stack"><i class="fa-brands fa-python"></i>&nbsp;&nbsp;Python</li>
                            <li class="project__stack-item fastapi project_stack stack"><i class="fa-solid fa-bolt"></i>&nbsp;&nbsp;FastAPI</li>
                            <li class="project__stack-item langchain project_stack stack"><i class="fa-solid fa-link"></i>&nbsp;&nbsp;Langchain</li>
                        </ul>
                        <!-- Todo 링크 연결할것! -->
                        <ul class="project__attachment">
                            <li class="project__attachment-item"><a href="https://github.com/dellyu03/My-AI-portfolio"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;Github</a></li>
                            <li class="project__attachment-item"><a href="https://dellyu03.github.io/My-AI-portfolio/"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;README</a></li>
                            <li class="project__attachment-item"><a href=""><i class="fa-solid fa-pen"></i>&nbsp;&nbsp;Velog</a></li>
                        </ul>
                    </div>
                </div>
        </div>

        <div id="experience" class="section">
            <h1 class="section-title">Experience</h1>
        </div>

        <div id="contact" class="section">
            <h1 class="section-title">Contact</h1>
        </div>
        <button id="ai-chat-btn" class="btn">
            <p>AI Chat</p>
        </button>
        <script src="https://kit.fontawesome.com/2da93f64de.js" crossorigin="anonymous"></script>
    </content>
    <footer>

    </footer>
    
</body>
</html>